@{
    ViewData["Title"] = "Privacy Policy";
}

<h1>Privacy Policy</h1>

<p>Effective date: March 18, 2024</p>

<p>Your privacy is important to us. It is our policy to respect your privacy regarding any information we may collect from you across our website, located at www.example.com, and other sites we own and operate.</p>

<h2>1. Information We Collect</h2>

<p>We only ask for personal information when we truly need it to provide a service to you. We collect it by fair and lawful means, with your knowledge and consent. We also let you know why we’re collecting it and how it will be used.</p>

<h2>2. Use of Information</h2>

<p>We may use the information we collect in various ways, including:</p>

<ul>
    <li>To provide and maintain our services.</li>
    <li>To notify you about changes to our services.</li>
    <li>To provide customer support.</li>
    <li>To gather analysis or valuable information so that we can improve our services.</li>
    <li>To monitor the usage of our services.</li>
    <li>To detect, prevent and address technical issues.</li>
</ul>

<h2>3. Security</h2>

<p>We value your trust in providing us your personal information, thus we are striving to use commercially acceptable means of protecting it. But remember that no method of transmission over the internet, or method of electronic storage is 100% secure and reliable, and we cannot guarantee its absolute security.</p>

<h2>4. Links to Other Sites</h2>

<p>Our service may contain links to other sites. If you click on a third-party link, you will be directed to that site. Note that these external sites are not operated by us. Therefore, we strongly advise you to review the Privacy Policy of these websites. We have no control over, and assume no responsibility for the content, privacy policies, or practices of any third-party sites or services.</p>

<h2>5. Children's Privacy</h2>

<p>Our services do not address anyone under the age of 13. We do not knowingly collect personal identifiable information from children under 13. In the case we discover that a child under 13 has provided us with personal information, we immediately delete this from our servers. If you are a parent or guardian and you are aware that your child has provided us with personal information, please contact us so that we will be able to do necessary actions.</p>

<h2>6. Changes to This Privacy Policy</h2>

<p>We may update our Privacy Policy from time to time. Thus, we advise you to review this page periodically for any changes. We will notify you of any changes by posting the new Privacy Policy on this page. These changes are effective immediately after they are posted on this page.</p>

<h2>7. Contact Us</h2>

<p>If you have any questions or suggestions about our Privacy Policy, do not hesitate to contact us.</p>

<p>Email: privacy@example.com</p>
